<div class = "container">
</br>
  </br>
  </br>
<div class="container-fluid" style="background-color:lightgreen; color:#fff;height:250px;">
  <h1 style="color: black">Successfully Bought!</h1>
  </br>
  <blockquote><h3 style="color: white">Please refer to the <a href="/">Home page </a> to keep buying or go to your <a href="/dashboard">Dashboard </a> to see the items you have posted.</h3> </blockquote>
</div>

  </br>
  </br>
</div>