<body>
 </br>
  </br>

  <form action="upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="file" value="" id="file">
      </div>
      <div>
        <input type="submit" value="Upload &uarr;">
      </div>
    </form>

  </body>
